$primary-color: rgb(138, 204, 178);
$secondary-color: rgb(28, 90, 102);
$thirdy-color: rgb(147, 238, 255);
$teal: #00b5ad;

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #f6f6f6 !important;
}

.container-fluid {
   padding: 0;
}

.home {
  background-color: pink;
}
.col-xs-12 {
  padding-right: 0;
}
