.header {
  background-color: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-main {
  padding-left: 8.33333333% !important;
  padding-right: 8.33333333% !important;
  background-color:rgb(229, 61, 61) !important;
  /* color: rgba(0, 0, 0, 0.87);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto,
  sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
  rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 0px;
  position: relative;
  z-index: 1100;
  width: 100%;
  display: flex;
  padding-left: 24px;
  padding-right: 24px; */
}

@media only screen and (max-device-width: 480px) {
  .nav-main {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
