@import './app.scss';

.header {
  background-color: rgb(190, 190, 190);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ui.menu {
  display: flex;
  margin: 1rem 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  // background-color: rgba(78, 180, 255, 0.49) !important;
  font-weight: 400;
  min-height: 2.85714286em;
  // border: none !important;
  // -webkit-box-shadow: none !important;
  // box-shadow: none !important;
  // border-radius: 0 !important;
}