
.home-login-box {
  margin-top: 80px;
  background-color: tomato;
}

.home-box-left {
 margin-top: 15px;
}

@media only screen and (max-device-width: 480px) {
  .home-login-box {
    margin-top: 5px;
  }
}
