.uv-body {
  display: flex;
  flex-direction: column;
}

.uv-group-info {
  flex: 1;
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid rgba(150, 150, 150, 0.4);
  margin-bottom: 15px;
  span.uv-label {
    flex-basis: 25%;
    font-size: 14px;
  }
  span.uv-info {
    flex-basis: 70%;
    font-size: 14px;
  }
}
