.uf-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  * {
    margin-right: 2px;
  }
  margin-bottom: 30px;
}
.uf-datepicker-box {
  flex: 0.6;
  display: flex;
  align-items: center;
}
.uf-input-box {
  flex: 1;
}
.uf-button-box {
  flex: 1;
}
.ui.label.uf-label {
  font-size: 1.12rem;
}