.ue-body {
  display: flex;
  flex-direction: column;
}

.ue-item {
  flex: 1;
  display: flex;
  span.ue-label {
    flex-basis: 30%;
    font-size: 14px;
  }
  span.ue-info {
    flex-basis: 70%;
    font-size: 14px;
  }
}